a:link {
    text-decoration: underline;
    color: black
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: blue
}

a:visited {
    text-decoration: underline;
    color: black
}

details { padding-left: 40px; }

details summary { padding-left: 60px; }

details p { padding-left: 80px; }

details details { padding-left: 60px; }

details details summary { padding-left: 80px; }

details details p { padding-left: 100px; }

details details details { padding-left: 80px; }

details details details summary { padding-left: 100px; }

details details details p { padding-left: 120px; }
